.user-management-layout {
  height: 100vh;

  .site-sider {
    background: #fff;
    border-right: 1px solid #f0f0f0;
  }

  .site-header {
    background: #fff;
    padding: 0 24px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;

    .search-bar {
      display: flex;
      align-items: center;
    }
  }

  .site-content {
    height: fit-content;
    margin: 24px;
    padding: 24px;
    background: #fff;
    border-radius: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

// 朱老师，下学期信息办需要举办一个“华师砺剑”的活动（有关于网络漏洞挖掘的），主要是面向计算机类学院的同学，不过想要更多元化一点，所以想找2个文科类的同学，想问问老师这里方便